body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.containerbox {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 100%;
  height: 100vh;
}

.left-div {
  display: grid;
  text-align: center;
  top: auto;
  bottom: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
}

.right-div {
  border: 1px solid lightgray;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-div {
  padding: 10px;
  background-color: lightblue;
  border: 1px solid lightgray;
}

.bottom-div {
  border: 1px solid lightgray;
  padding: 10px;
}

button {
  width: 100%;
  height: 40px;
  color: grey;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin: 5px 0px !important;
}
.chart-container {
  width: 200px;
  height: 200px;
  padding: 10px;
}